
:root {
    /* Dark colours */
    --clr-dark-freesia: #DCB509;
    /* Primary colours -- colour */
    --clr-freesia-primary: #E1C340;
    --clr-cyan-primary: #4CD7D0;
    --clr-tiffany-blue-primary: #A4E8E0;
    --clr-yellow-primary: #F8EA8C;
    /* Background colour */
    --clr-white: #ffffff;
    --clr-tab-btn: #EBEBEB;

    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;

    --blue-shadow: 5px 5px 15px #4CD7D0;
    --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    --dark-shadow: 10px 5px 15px rgba(0, 0, 0, 0.7);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--primary-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 2rem;
  color: var(--clr-grey-5);
}


.container {
    width: 100%
}

.banner {
    width: 100%;
    height: 150px;
}

.logo {
    width: 100%
    margin-top: 1.5rem;
}

.contacts{
    margin-top: 0.5rem;
    width: 100%;
    padding-left: 0.4rem;
}

.contact-me {
    display: none;
}

span {
    display: none;
}

.contacts a {
    margin: 2.5rem 0.6rem;
    box-shadow: var(--blue-shadow);
    color: black;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

.tablinks {
  display: block;
  font-size: 20px;
  padding: 5px;
  background: var(--clr-freesia-primary)
}

.tab a.active {
      color: var(--clr-cyan-primary);
      box-shadow: none;
  }

.tab a {
      background-color: inherit;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      box-shadow: var(--light-shadow);
  }

.icon {
    padding-left: 50vw;
    padding-right: 50vw;
    background-color: var(--clr-dark-freesia)
}

.bar-btn {
  padding: 10px;
}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.home-banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.home-banner img {
    justify-content: center;
    align-items: center;
    width: 90%;
    box-shadow: var(--dark-shadow);
}

.slide {
  display: none;
}


.tab-banner {
    width: 100%;
    height: 200px;
    
}

.text-box {
    max-width: 90%;
    max-height: 200px;
    margin: auto auto;
    background-color: var(--clr-dark-freesia);
    color: var(--clr-white);
    font-size: 50px;
    place-items: center;
    margin-top: 50px;
    box-shadow: var(--dark-shadow);
    z-index: 100;
}

.exp {
    font-size: 35px;
}

.content {
  padding-right: 20px;
}


@media only screen and (min-width: 768px) {

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    float: left;
    width: 50%;
  }

  .contacts {
    float: right;
    margin-top: 2.5rem;
    width: 50%;
  }

  .contact-me {
    display: inline-block;
  }

  .tab {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .slide {
    display: block;
  }

  .col-2 .col-3 .col-4 {
    flex-wrap: nowrap;
  }

  .col-2 {
    flex-basis: 50%;
  }

  .col-3 {
    flex-basis: 33%;
  }

  .col-4 {
    flex-basis: 25%;
  }

  .home-content {
    display: block;
  }

  .tablinks {
    flex-basis: (100/6)%;
    flex-wrap: nowrap;
  }

  .text-box {
    font-size: 70px;
  }

  .exp {
    font-size: 70px;
  }

  /* Style the buttons that are used to open the tab content */
  .tab a {
      background-color: inherit;
      cursor: pointer;
      padding: 14px 16px;
      margin: 10px 20px;
      transition: 0.3s;
      box-shadow: var(--light-shadow);
  }

  /* Change background color of buttons on hover */
  .tab a:hover {
      background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab a.active {
      color: var(--clr-cyan-primary);
      box-shadow: none;
      font-size: 16px;
      font-weight: 400;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 2;
    letter-spacing: 2px;
  }

  p {
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .contacts:hover span {
    display: inline-block;
  }
}